.container {
    display: flex;
    flex-direction: column;
}
.intro {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 30px 15px;
    position: relative;
}
.intro::after {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://music.163.com/api/img/blur/109951163921055149?param=170y170) no-repeat;
    background-size: cover;
    filter: blur(20px);
    transform: scale(1.5);
}
.intro .img {
    width: 126px;
    height: 126px;
}
.intro .img img{
    width: 100%;
    height: 100%;
}
.intro .name {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.intro .name span{
    font-size: 18px;
    color:#fff;
}
.intro .name .author {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.intro .name .author img{
    border-radius: 50%;
    width: 36px; 
    height: 36px;
}
.intro .name .author span{
    font-size: 15px;
    color: #efe6e6;
}
.songList {
    background: #ffffffed;
}
.songList .tag {
    display: flex;
    align-items: center;
    padding: 5px;
}
.songList .tag h3{
    width: 20%;
    padding-left: 10px;
}
.songList .tag ol{
    padding-right: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}
.songList{
    margin-top: 8px;
}
.song {
    margin-left: 10px;
    position: relative;
    padding: 3px 0;
    border-bottom: 1px solid #ddd;
}
.song h3{
    font-size: 19px;
    color: #161414;
    font-weight: normal;
}
.song .singer{
    color: #554d4d;
    font-size: 15px;
}
.song .playButton {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.song .playButton svg{
    fill: #aaa;
    width: 22px;
    height: 22px;
}
.newSongs .tabTitle {
    background: #ddd;
    font-size: 16px;
    color: #484646;
    padding: 3px 10px;
}